:root{
    --button-color--:#1572D3;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: Arial, Helvetica, sans-serif; */
}
.d-flex{
    display: flex !important;
}
.justify-content-center{
    justify-content: center !important;
}
.justify-content-evenly{
    justify-content: space-evenly !important;
}
.justify-content-around{
    justify-content: space-around !important;
}
.justify-content-between{
    justify-content: space-between !important;
}
.justify-content-flex-end{
    justify-content: flex-end !important;
}
.justify-content-flex-start{
    justify-content: flex-start !important;
}
.align-items-center{
    align-items: center;
}
.text-decoration-none{
    text-decoration: none !important;
}
.list-style-type{
    list-style-type: none !important;
}
.a-background-color{
    background-color: var(--button-color--);
}
.a-color-white{
    color: white !important;
}
.a-color-black{
    color: black !important;
}
.button-padding{
    padding: 15px 40px;
    border-radius: 10px;
}
.margin-top{
    margin-top: 50px !important;
}
.margin-top-10{
    margin-top: 10px !important;
}
.margin-top-100{
    margin-top: 100px !important;
}
.font-size-40{
    font-size: 40px !important;
}
.font-size-30{
    font-size: 30px !important;
}
.font-size-20{
    font-size: 20px !important;
}
.rent-car-image h1{
    font-size: 20px ;
    margin-left: 10px;
}
.nav{
    height: 70px;
}
.rent-car-links ul{
    gap: 30px;
}
.rent-car-signin-signup ul{
    gap: 30px;
}
.rent-car-signin-signup .signup{
    background-color:var(--button-color--) ;
}
.landing-content{
    height: 100vh;
}
.landing-content-text{
    margin-right: 40px; 
}
.landing-content-text h1{
    margin-bottom: 10px;
    font-size: 60px;
}
.landing-content-text p{
    margin-bottom: 20px;
}
.landing-content-text span{
    color: var(--button-color--);
}
.landing-content-text .position{
    position: absolute;
    left: 290px;
    top: 370px;
}
.service-section{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    height: 70px;
}
.service-section h1{
    color: #3E3E3E;
    font-size: 25px;
}
.location-text{
    margin-left: 10px;
}
.pickup-text{
    margin-left: 10px;
}
.return-text{
    margin-left: 10px;
}
.how-it-work-h1 h1{
    font-size: 40px;
}
.service-section{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.how-it-work-button a{
    background-color:#1572D31A;
    color: var(--primary--);
    padding: 15px;
    margin-top: 40px;
}
hr{
    margin-top: 50px;
}
.choose-location2{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.book-your-car2{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pick-up-date2{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.choose-location2 p{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.book-your-car-text p{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.pick-up-date2 p{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.choose-location2 h1{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.book-your-car-text h1{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pick-up-date2 h1{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.choose-location2 h1{
margin-top: 10px;
}
.choose-location2 p{
margin-top: 10px;
}
.book-your-car-text h1{
margin-top: 10px;
}
.book-your-car-text p{
margin-top: 10px;
}
.pick-up-date2 h1{
margin-top: 10px;
}
.pick-up-date2p{
margin-top: 10px;
}
.serveice-section-2{
    margin-top: 50px;
}
 @keyframes slide {
      from {
        transform: translateX(0);
      }

      to {
        transform: translateX(-100%);
      }
    }

   .logos {
      overflow: hidden;
      padding: 20px 0;
      background: white;
      white-space: nowrap;
      position: relative;
      display: flex;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    }

      .logos:before,
     .logos:after {
      position: absolute;
      top: 0;
      width: 250px;
      height: 100%;
      content: "";
      z-index: 2;
    }

 /* .logos:before {
      left: 0;
      background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
    }

 .logos:after {
      right: 0;
      background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
    } */

 .logos:hover .logos-slide {
      animation-play-state: paused;
    }

 .logos-slide {

      animation: 35s slide infinite linear;
    }

 .logos-slide img {
      height: 70px;
      margin: 0 40px;
    }
    .facilites{
        background-image: url(./icons/Vector.svg);
        background-repeat: no-repeat;
    }
    .facilites-h1{
        font-size: 40px;
    }
.cards{
    width: 256px;
    height: 405px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
.cards img{
    margin: 10px 22px;
}
.person-information{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
   
}
/* @media screen and (max-width:1100px) {
    .landing-content{
        display: flex;
        flex-direction: column;
    }
} */
@media screen and (max-width:768px) {
    .serveice-section-2{
        display: flex;
        flex-direction: column;
    }
}